body {
    margin: 0px;
}

.top-container {
    background-color: #75cfb8;
    ;
}

.middle-container {
    background-color: #bbdfc8;
    height: 200px;
    width: 200px;
}

.bottom-container {
    background-color: #f0e5d8;
    height: 200px;
    width: 200px;
}